@model WebApplicationMvc.Models.AddressBookListViewModel

@{
    ViewData["Title"] = "Address Book List";
}

<h1>Address Books:</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr><td>@item.Name</td>
                @*<td>@Html.ActionLink("Edit", "AddressBooks", new { id=item.Id })</td>*@
        <td><a href="Contacts?id=@item.Id">Edit</a></td>
                <td>Delete</td></tr>
        }
        @*<tr>
            <td colspan="3">
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>*@
    </tbody>
</table>
